body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Header Styling*/
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    margin-left: 60px;
    align-items: center;
    gap: 10px;
}

.icon-text {
    font-size: 30px;
    color: white;
    flex-shrink: 0;
    font-weight: 800;
}

.icon {
    height: 50px;
    width: auto;
    border-style: solid;
    border-color:darkolivegreen;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    margin-right: 60px;
}

li {
    color: white;
    border-style: solid;
    padding: 10px;
}

/* Section 1 Styling*/

.sec-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #1F2937;
}

.text-side {
    color: white;
    max-width: 500px;
}

.sec-1 img {
    height: 200px;
    width: 400px;
}

button {
    color: white;
    background-color: #3882f6;
    padding: 8px 20px;
    border-radius: 10px;
}

/* Section 2 Styling*/

.sec-2 { 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgray;
}

.img-seq {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.img-seq img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
}

.sec-2 h3 {
    margin: 0;
    font-size: 25px;
}

/* Section 3 Styling */

.sec-3 {
    padding: 50px 200px;
}

.statement{
    font-size: 25px;
    font-style: italic;
}

.author {
    font-size: 20px;
    font-weight: 650;
    text-align: end;
}